{% extends "base.html" %}


{% load staticfiles %}
{% load i18n %}

{% block css%}
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "dist/css/AdminLTE.min.css" %}">
    <link rel="stylesheet" href="{% static "dist/css/skins/_all-skins.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/iCheck/flat/blue.css" %}">
    <link rel="stylesheet" href="{%static "css/ionicons.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css"%}">

    <link rel="stylesheet" href="{% static "css/select2.min.css"%}">
    <link rel="stylesheet" href="{% static "css/style.css"%}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.min.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->
    <style>
        .nav-tabs {
            background-color: #eee;
        }
        .form-group {
            margin-top: 25px;
        }
    </style>
    <script>
    function write_select() {
        var alert_type = '';
        var alert_type = $('#alert_type').val();
        var select_obj = document.getElementById('alert_type_value');
        select_obj.options.length = 0;
        if (alert_type == "country") {
            select_obj.options.add(new Option("埃及","Egypt"));
            select_obj.options.add(new Option("沙特","Saudi Arabia"));
        }
        else if (alert_type == "http_code") {
            select_obj.options.add(new Option("200","200"));
            select_obj.options.add(new Option("404","404"));
            select_obj.options.add(new Option("304","304"));
            select_obj.options.add(new Option("500","500"));
            select_obj.options.add(new Option("499","499"));
        }
        else {
           select_obj.options.add(new Option("all","all"));
        }
    }
    </script>
{% endblock %}
{% block content %}
    <div class="fakeloader"></div>
    <div class="content-wrapper">
    <section class="content-header">
        <h1>
            报警规则
        </h1>

        <ol class="breadcrumb">
          <li class="active"><a href="/"><i class="fa fa-dashboard"></i> 首页</a></li>
          <li>报警列表</li>
        </ol>
    </section>

        <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <div class="box-header row">
                        <div class="col-xs-7" style="">
                            <a href="#AddUser" role="button"  class="btn btn-success" data-toggle="modal">添加联系人</a>
                        </div>
                    </div>
                </div>
                <div id="project-content" class="nav-tabs-custom">
                    <div class="tab-content">
                        <div  id="project_manage">
                            <div class="box-body">
                                <table id="ALERTable" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>报警类型</th>
                                        <th>触发条件</th>
                                        <th>触发值</th>
                                        <th>报警方式</th>
                                        <th>报警联系人</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if result %}
                                        {% for item in result %}
                                        <tr role="row" class="">
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.telephone }}</td>
                                        <td>{{ item.wechat }}</td>
                                        <td>{{ item.email }}</td>
                                        <td>{{ item.dingtalk }}</td>
                                        <td><button type="submit" class="btn btn-warning" name="" onclick="del_alert_user({{ item.name }})">删除</button></td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

    <!-- Modal -->
    <div class="modal fade" id="AddUser" tabindex="-1" role="dialog" aria-labelledby="addDNSLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加联系人</h4>
            </div>

            <div class="tab-content">
                <div class="tab-pane active">
                    <form class="form-horizontal" method="post" role="form">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">报警类型</label>

                            <div class="col-sm-6">
                                <select id="alert_type" onclick="write_select()" class="form-control">
                                    <option id="alert_country" value="country">country</option>
                                    <option id="alert_slow_url" value="slow_url">slow_url</option>
                                    <option id="alert_http_code" value="http_code">http_code</option>
                                </select>
                            </div>

                            <label class="col-sm-4 control-label">报警值</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="alert_type_value">
                                </select>
                            </div>
                            <label class="col-sm-4 control-label">触发条件</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="alert_type_rule">
                                    <option value="max">大于</option>
                                    <option value="min">小于</option>
                                    <option value="yestarday_max">同比大于(前一天)</option>
                                    <option value="yestarday_min">同比小于(前一天)</option>
                                    <option value="weekday_max">环比大于(一周前)</option>
                                    <option value="weekday_min">环比小于(一周前)</option>
                                </select>
                            </div>
                            <label class="col-sm-4 control-label">触发值</label>
                            <div class="col-sm-6">
                                <input type="text" id="alert_value" class="form-control" placeholder="报警触发值">
                            </div>
                            <label class="col-sm-4 control-label">报警联系人</label>
                             <div class="col-sm-6">
                                <input type="text" id="dingtalk" class="form-control" placeholder="格式:字母、数字或.不能包含空格"
                                       required pattern="[a-zA-Z0-9\.\-_]+">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary"
                                    name="" onclick="add_alert_user()">添加</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
{% endblock %}

{% block js %}
<script src="{%static "plugins/jQuery/jQuery-2.1.4.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{%static "dist/js/app.min.js" %}"></script>
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static "plugins/iCheck/icheck.min.js" %}"></script>
<script src="{% static "js/myqccr.js" %}"></script>
<script src="{% static "js/select2.min.js" %}"></script>
<script src="{% static "js/jquery.Qalert.js" %}"></script>
<script type="text/javascript">
    $("#qccrdomain").addClass("active");
    $("#domainconf").addClass("active");
    $('#ALERTable').DataTable();

    function add_alert_user() {
        var user = $('#user').val();
        var telephone = $('#telephone').val();
        var wechat = $('wechat').val();
        var email = $('email').val();
        var dingtalk = $('dingtalk').val();

        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/add/alert_user/",
            data: {"name":user,"telephone":telephone,"wechat":wechat,"email":email,"dingtalk":dingtalk,'csrfmiddlewaretoken': getCookie('csrftoken')},
            success: function (result) {
{#                if (result.code!=200) {#}
                    alert(result.msg);
{#                }#}
            }
        })
    }

    function del_domain(name) {
        var c = confirm("确定删除？");
        if (c==true) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/del/alert_user/",
                data: {"name": name, 'csrfmiddlewaretoken': getCookie('csrftoken')},
                success: function (result) {
                    if (result.code!=200) {
                        alert(result.msg);
                    }
                }
            })
        }
    }
</script>
{% endblock %}
