{% extends "base.html" %}


{% load staticfiles %}
{% load i18n %}

{% block css%}
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "dist/css/AdminLTE.min.css" %}">
    <link rel="stylesheet" href="{% static "dist/css/skins/_all-skins.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/iCheck/flat/blue.css" %}">
    <link rel="stylesheet" href="{%static "css/ionicons.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css"%}">
    <link rel="stylesheet" href="{% static "bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"%}">
    <link rel="stylesheet" href="{% static "css/select2.min.css"%}">
    <link rel="stylesheet" href="{% static "css/style.css"%}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.min.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->
    <style>
        .nav-tabs {
            background-color: #eee;
        }
        .form-group {
            margin-top: 25px;
        }
    .mytable {
        table-layout: fixed;
        width: 98%;
        border:0px;
        margin: 0px;
    }

    .wrap{
    width: 50%; //设置需要固定的宽度
    white-space: nowrap; //不换行
    text-overflow: ellipsis; //超出部分用....代替
    overflow: hidden; //超出隐藏
        }
    </style>
        <script type="text/javascript">
                /**
        *对Date的扩展，将 Date 转化为指定格式的String
        *月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
        *年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
        *例子：
        *(new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
        *(new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18
           */
        Date.prototype.format = function (fmt) {
        var o = {
        "M+": this.getMonth() + 1, //月份
        "d+": this.getDate(), //日
        "h+": this.getHours(), //小时
        "m+": this.getMinutes(), //分
        "s+": this.getSeconds(), //秒
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度
        "S": this.getMilliseconds() //毫秒
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
    }
    </script>

    <script>
    function load() {
        var day1 = new Date();
        day1.setDate(day1.getDate() - 1);
        var search_date = day1.format("yyyy-MM-dd");
        $('#search_date').attr('placeholder', search_date);
        $('#search_date').val(search_date);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/get/domain/",
            data: {"search_date": search_date, 'csrfmiddlewaretoken': getCookie('csrftoken')},
            success: function (response) {
                if (response.code == 200) {
                    console.log(response);

                    for (var item of response.result) {
                        $("#domain").append("<option>" + item + "</option>");
                    }
                    write_table()
                }
                else {
                    alert(response.msg);
                }
            }
        })
    }

    function search_domain_data() {
        var search_date = $('#search_date').val();
        document.getElementById("domain").options.length=0;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/get/domain/",
            data: {"search_date": search_date, 'csrfmiddlewaretoken': getCookie('csrftoken')},
            success: function (response) {
                if (response.code == 200) {
                    console.log(response);

                    for (var item of response.result) {
                        $("#domain").append("<option>" + item + "</option>");
                    }
                    write_table()
                }
                else {
                    alert(response.msg);
                }
            }
        })
    }

    function write_table() {
        var search_date = $('#search_date').val();
        var domain_name = $('#domain').val();
        console.log(domain_name);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/get/slowurl/",
            data: {"search_date": search_date,"domain": domain_name,'csrfmiddlewaretoken': getCookie('csrftoken')},
            success: function (response) {
                if (response.code == 200) {
                    console.log(response);
                    {#                                            定义tbody以及将tbody追加为空#}
                    var tbody = $("#StdoutTable tbody");
                    tbody.html('');
                    {#                                            插入数据#}

                    if ($('#StdoutTable').hasClass('dataTable')) {
                        var dttable = $('#StdoutTable').dataTable();
                        dttable.fnClearTable(); //清空一下table
                        dttable.fnDestroy(); //还原初始化了的datatable
                    }
                    for (var item of response.result) {
                        var tr = `
                        <tr role="row"  class="wrap">
                            <td>${item.slow_url}</td>
                            <td>${item.slow_num}</td>
                                                </tr>`;
                        tbody.append($(tr));
                    }
                    $('#StdoutTable').dataTable();
                }
                else {
                    alert(response.msg);
                }
            }
        })
    }

</script>
{% endblock %}

{% block content %}
    <div class="fakeloader"></div>
    <div class="content-wrapper">
    <section class="content-header">
        <h1>
            nginx 慢链接
        </h1>

        <ol class="breadcrumb">
              <li class="active"><a href="/"><i class="fa fa-dashboard"></i> 首页</a></li>
              <li>日志查询</li>
        </ol>
    </section>
         <div class="row">
                <div class="col-xs-12">
                    <div id="project-content" class="nav-tabs-custom">
                        <div class="tab-content">
                            <div  id="project_manage">
                                <div class="box-body">
                                 <form class="box-header" style="padding: 0;">
                                <div class="input-group col-xs-12">
                                <div class="col-xs-2">
                                <input class="form_datetime form-control" type="text" id="search_date" onchange="search_domain_data()" size="16">
                                </div>
                                    <select name="domain" id="domain" class="form-control col-xs-6" style="width: 30%;" onchange="write_table()">
                                    </select>
                                </div>
                                </form>
                                    <table id="StdoutTable" class="mytable table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>慢链接</th>
                                            <th>次数</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <body onload="load()"></body>
{% endblock %}

{% block js %}

<script src="{%static "plugins/jQuery/jQuery-2.1.4.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" %}"></script>
<script src="{%static "dist/js/app.min.js" %}"></script>
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static "plugins/iCheck/icheck.min.js" %}"></script>
<script src="{% static "js/myqccr.js" %}"></script>
<script src="{% static "js/select2.min.js" %}"></script>
<script src="{% static "js/jquery.Qalert.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
<script src="{% static "js/jquery.Qalert.js" %}"></script>
    <script type="text/javascript">
    $('.form_datetime').datetimepicker({
    format: "yyyy-mm-dd",
    autoclose: true,
    todayBtn: true,
    todayHighlight: true,
    showMeridian: true,
    pickerPosition: "bottom-left",
    startView: 2,//月视图
    minView: 2//日期时间选择器所能够提供的最精确的时间选择视图
     });
    </script>
{% endblock %}
