{% load staticfiles %}
<style>
    #userprofile .dropdown:hover .dropdown-menu {
        display: block;
    }

    #userprofile .dropdown-toggle {
        color: #666666;
        padding: 7px;
        border: 1px solid #ddd;
    }

    .skin-blue .main-header .navbar .dropdown-menu li a {
        color: #777;
    }

    .tooltip-inner {
        max-width: 500px;
    }
</style>
<script>
        function change_password() {
        $.ajax({
            type: "GET",
            url: "/redis/password/reset/",
        })
        }
</script>
<header class="main-header" style="z-index: 99">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>服务器命令日志管理平台</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>服务器命令日志管理平台</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu" id="menus">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{% static "dist/img/user2-160x160.jpg" %}" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{request.user.employeeName}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{% static "dist/img/user2-160x160.jpg" %}" class="img-circle" alt="User Image">
                            <p>
                                {{request.user.username}}
                                <small></small>
                            </p>
                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <ul id="userprofile" class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="">个人设置<span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a onclick="change_password()">修改密码</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="pull-right">
                                <a href="/logout/" class="btn btn-default btn-flat">注销</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

